<div class="sidebar">
    <div class="logo-wrap">
      <a href="/" aria-current="page" class="logo-link w-inline-block w--current"><img src="assets/logo update.svg"
          loading="lazy" alt="" class="logo-image"></a>
      <p>Biscuit cotton candy toffee fruitcake danish marzipan powder gingerbread.</p>
    </div>
    <div class="topic-wrap">
      <div class="topic-list">
        <ul>
          {% assign animal_notes = site.notes | where_exp: "note", "note.path contains 'animals'" %}
          {% for note in animal_notes %}
            <li>
              <a class="internal-link" href="{{ site.baseurl }}{{ note.url }}">{{ note.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>