<div class="sidebar">
    <div class="logo-wrap">
      <a href="/" aria-current="page" class="logo-link w-inline-block w--current"><img src="assets/logo update.svg"
          loading="lazy" alt="" class="logo-image"></a>
      <p>Biscuit cotton candy toffee fruitcake danish marzipan powder gingerbread.</p>
      <div class="button">
        <a href="/about">
          <div class="button-label">About</div><img src="assets/arrow.svg" loading="lazy" alt="" class="button-image"></a></div>
    </div>
    <div class="topic-wrap">
      <div class="topic-list">
        
        <ul>
          {% assign topics_notes = site.notes | where_exp: "note", "note.path contains 'topics'" %}
          {% for note in topics_notes %}
            <li class="topic-item">
              <div class="indicator"></div>
              <h2 class="topics">
                <a class="internal-link" href="{{ site.baseurl }}{{ note.url }}">{{ note.title }}</a>
              </h2>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>