<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>



  <div class="page_wrap">
    <main id="main" class="page_main">
      <div class="sidebar">
        {% include sidebar.html %}
      </div>
      <div class="about-background">
        <div class="about-sidebar"></div>
        <div class="about-content-wrap">
          <div class="about-content">
            <div class="about-image_wrap"><img src="images/cutunseen-histories-MfkVwVm1K0w-unsplash-1.png" loading="lazy" sizes="152px" srcset="images/cutunseen-histories-MfkVwVm1K0w-unsplash-1-p-500.png 500w, images/cutunseen-histories-MfkVwVm1K0w-unsplash-1-p-800.png 800w, images/cutunseen-histories-MfkVwVm1K0w-unsplash-1-p-1080.png 1080w, images/cutunseen-histories-MfkVwVm1K0w-unsplash-1-p-1600.png 1600w, images/cutunseen-histories-MfkVwVm1K0w-unsplash-1-p-2000.png 2000w, images/cutunseen-histories-MfkVwVm1K0w-unsplash-1.png 2831w" alt="" class="about-image"></div>
            <div class="about-copy">
              <p class="bio">Biscuit cotton candy toffee fruitcake danish marzipan powder gingerbread. Biscuit cotton candy toffee fruitcake danish marzipan powder gingerbread.Biscuit cotton candy toffee fruitcake danish marzipan powder gingerbread. Biscuit cotton candy toffee fruitcake danish marzipan powder gingerbread. Biscuit cotton candy toffee fruitcake danish marzipan powder gingerbread.Biscuit cotton candy toffee fruitcake danish marzipan powder gingerbread.Biscuit cotton candy toffee fruitcake danish marzipan powder gingerbread. Biscuit cotton candy toffee fruitcake danish marzipan powder gingerbread.Biscuit cotton candy toffee fruitcake danish marzipan powder gingerbread.</p>
              <a href="/contact" class="button white w-inline-block">
                <div class="button-label">About</div><img src="images/arrow.svg" loading="lazy" alt="" class="button-image">
              </a>
            </div>
          </div>
        </div>
        <div class="thank-you">Thank you for reading!</div>
      </div>
    </main>

  </div>




</body>

</html>

