<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>



  <div class="page_wrap">
    <main id="main" class="page_main">
      <div class="sidebar">
        {% include sidebar.html %}
      </div>
      <div class="about-background">
        <div class="about-sidebar"></div>
        <div class="about-content-wrap">
          <div class="about-content">
            <main>{{ content }}</main>
          </div>
        </div>
        <div class="thank-you">Thank you for reading!</div>
      </div>
    </main>

  </div>




</body>

</html>

