<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <nav>{% include nav.html %}</nav>
    <div class="wrapper">
        <a href="/" aria-current="page" class="logo-link w-inline-block w--current"><img src="assets/logo-update.svg" loading="lazy" alt="" class="logo-image"></a>
        <a href="/" aria-current="page" class="logo-link w-inline-block w--current"><img src="assets/logo update.svg" loading="lazy" alt="" class="logo-image"></a>
        <p>HELPPPPP cotton candy toffee fruitcake danish marzipan powder gingerbread.</p>
      </div>
      <main>{{ content }}</main>
      <footer>{% include footer.html %}</footer>
    </div>

    {% include link-previews.html wrapperQuerySelector="content" %}
  </body>
</html>