<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  <nav>{% include nav.html %}</nav>


  <div class="page_wrap">
    <main id="main" class="page_main">
      <div class="sidebar">
        <div class="logo-wrap">
          <a href="/" aria-current="page" class="logo-link w-inline-block w--current"><img src="assets/logo update.svg"
              loading="lazy" alt="" class="logo-image"></a>
          <p>Biscuit cotton candy toffee fruitcake danish marzipan powder gingerbread.</p>
        </div>
        <div class="topic-wrap">
          <div class="topic-list">
            <div class="topic">
              <div class="indicator"></div>
              <h2 class="topics">Womanism</h2>
            </div>
            <div class="topic">
              <div class="indicator"></div>
              <h2 class="topics">Womanism</h2>
            </div>
            <div class="topic">
              <div class="indicator"></div>
              <h2 class="topics">Womanism</h2>
            </div>
            <div class="topic">
              <div class="indicator"></div>
              <h2 class="topics">Womanism</h2>
            </div>
            <div class="topic">
              <div class="indicator"></div>
              <h2 class="topics">Womanism</h2>
            </div>
            <div class="topic">
              <div class="indicator"></div>
              <h2 class="topics">Womanism</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="content-body">
          <main>{{ content }}</main>
        </div>
        <div class="scattered-wrap"><img src="images/cutunseen-histories-MfkVwVm1K0w-unsplash-1.png" loading="lazy"
            sizes="(max-width: 767px) 125.82785034179688px, 16vw"
            srcset="images/cutunseen-histories-MfkVwVm1K0w-unsplash-1.png 500w, images/cutunseen-histories-MfkVwVm1K0w-unsplash-1.png 800w, images/cutunseen-histories-MfkVwVm1K0w-unsplash-1.png 1080w, images/cutunseen-histories-MfkVwVm1K0w-unsplash-1.png 1600w, images/cutunseen-histories-MfkVwVm1K0w-unsplash-1.png 2000w, images/cutunseen-histories-MfkVwVm1K0w-unsplash-1.png 2831w"
            alt="" class="scattered-image is-1"><img src="images/cutunseen-histories-MfkVwVm1K0w-unsplash-1.png"
            loading="lazy" sizes="(max-width: 767px) 128.48175048828125px, 17vw"
            srcset="images/cutunseen-histories-MfkVwVm1K0w-unsplash-1.png 500w, images/cutunseen-histories-MfkVwVm1K0w-unsplash-1.png 800w, images/cutunseen-histories-MfkVwVm1K0w-unsplash-1.png 1080w, images/cutunseen-histories-MfkVwVm1K0w-unsplash-1.png 1600w, images/cutunseen-histories-MfkVwVm1K0w-unsplash-1.png 2000w, images/cutunseen-histories-MfkVwVm1K0w-unsplash-1.png 2831w"
            alt="" class="scattered-image is-2"><img src="images/cutunseen-histories-MfkVwVm1K0w-unsplash-1.png"
            loading="lazy" sizes="(max-width: 479px) 128.48175048828125px, (max-width: 767px) 27vw, 17vw"
            srcset="images/cutunseen-histories-MfkVwVm1K0w-unsplash-1.png 500w, images/cutunseen-histories-MfkVwVm1K0w-unsplash-1.png 800w, images/cutunseen-histories-MfkVwVm1K0w-unsplash-1.png 1080w, images/cutunseen-histories-MfkVwVm1K0w-unsplash-1.png 1600w, images/cutunseen-histories-MfkVwVm1K0w-unsplash-1.png 2000w, images/cutunseen-histories-MfkVwVm1K0w-unsplash-1.png 2831w"
            alt="" class="scattered-image is-3"><img src="images/cutunseen-histories-MfkVwVm1K0w-unsplash-1.png"
            loading="lazy" sizes="(max-width: 991px) 136.2054443359375px, 18vw"
            srcset="images/cutunseen-histories-MfkVwVm1K0w-unsplash-1.png 500w, images/cutunseen-histories-MfkVwVm1K0w-unsplash-1.png 800w, images/cutunseen-histories-MfkVwVm1K0w-unsplash-1.png 1080w, images/cutunseen-histories-MfkVwVm1K0w-unsplash-1.png 1600w, images/cutunseen-histories-MfkVwVm1K0w-unsplash-1.png 2000w, images/cutunseen-histories-MfkVwVm1K0w-unsplash-1.png 2831w"
            alt="" class="scattered-image is-4">
        </div>
      </div>
    </main>

  </div>

 
  <footer>{% include footer.html %}</footer>


</body>

</html>