---
layout: default
---


      <div class="content">
        <div class="home_wrap">
          <div class="home-title-wrap">
            <h1>New home title.</h1>
            <p class="item-excerpt">Biscuit cotton candy toffee fruitcake danish marzipan powder gingerbread. Biscuit
              cotton candy toffee fruitcake danish marzipan powder gingerbread.Biscuit cotton candy toffee fruitcake
              danish marzipan powder gingerbread.</p>
          </div>
          <div class="home-use-wrap">
            <p class="item-excerpt">Biscuit cotton candy toffee fruitcake danish marzipan powder gingerbread. Biscuit
              cotton candy toffee fruitcake danish marzipan powder gingerbread.Biscuit cotton candy toffee fruitcake
              danish marzipan powder gingerbread.</p>
          </div>
        </div>
      </div>
      <div class="item-wrap">
        {% assign article_files = site.notes | where_exp: "note", "note.path contains '/articles/'" %}
        {% for article in article_files %}
          <div class="item-contain">
            {% if article.tags %}
              <div class="item-tag-wrap">
                {% for tag in article.tags %}
                  <a href="#" class="item-tag">{{ tag }}</a>
                {% endfor %}
              </div>
            {% endif %}
            
            <div class="item-content">
              <div class="title-wrap">
                <h1 class="item-title">
                  <a href="{{ site.baseurl }}{{ article.url }}">{{ article.title }}</a>
                </h1>
              </div>
              <p class="item-excerpt">{{ article.excerpt | strip_html | truncatewords: 30 }}</p>
            </div>
          </div>
        {% endfor %}
       </div>


