<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  <nav>{% include nav.html %}</nav>


  <div class="page_wrap">
    <main id="main" class="page_main">
      <div class="sidebar">
        {% include sidebar.html %}
      </div>
      <div class="content">
        <div class="content-body">
          <main>{{ content }}</main>
        </div>
        <div class="scattered-wrap"><img src="assets/cutunseen-histories-MfkVwVm1K0w-unsplash-(1).png" loading="lazy"
            sizes="(max-width: 767px) 125.82785034179688px, 16vw"
            srcset="assets/cutunseen-histories-MfkVwVm1K0w-unsplash-(1).png 500w, assets/cutunseen-histories-MfkVwVm1K0w-unsplash-(1).png 800w, assets/cutunseen-histories-MfkVwVm1K0w-unsplash-(1).png 1080w, assets/cutunseen-histories-MfkVwVm1K0w-unsplash-(1).png 1600w, assets/cutunseen-histories-MfkVwVm1K0w-unsplash-(1).png 2000w, assets/cutunseen-histories-MfkVwVm1K0w-unsplash-(1).png 2831w"
            alt="" class="scattered-image is-1"><img src="assets/cutunseen-histories-MfkVwVm1K0w-unsplash-(1).png"
            loading="lazy" sizes="(max-width: 767px) 128.48175048828125px, 17vw"
            srcset="assets/cutunseen-histories-MfkVwVm1K0w-unsplash-(1).png 500w, assets/cutunseen-histories-MfkVwVm1K0w-unsplash-(1).png 800w, assets/cutunseen-histories-MfkVwVm1K0w-unsplash-(1).png 1080w, assets/cutunseen-histories-MfkVwVm1K0w-unsplash-(1).png 1600w, assets/cutunseen-histories-MfkVwVm1K0w-unsplash-(1).png 2000w, assets/cutunseen-histories-MfkVwVm1K0w-unsplash-(1).png 2831w"
            alt="" class="scattered-image is-2"><img src="assets/cutunseen-histories-MfkVwVm1K0w-unsplash-(1).png"
            loading="lazy" sizes="(max-width: 479px) 128.48175048828125px, (max-width: 767px) 27vw, 17vw"
            srcset="assets/cutunseen-histories-MfkVwVm1K0w-unsplash-(1).png 500w, assets/cutunseen-histories-MfkVwVm1K0w-unsplash-(1).png 800w, assets/cutunseen-histories-MfkVwVm1K0w-unsplash-(1).png 1080w, assets/cutunseen-histories-MfkVwVm1K0w-unsplash-(1).png 1600w, assets/cutunseen-histories-MfkVwVm1K0w-unsplash-(1).png 2000w, assets/cutunseen-histories-MfkVwVm1K0w-unsplash-(1).png 2831w"
            alt="" class="scattered-image is-3"><img src="assets/cutunseen-histories-MfkVwVm1K0w-unsplash-(1).png"
            loading="lazy" sizes="(max-width: 991px) 136.2054443359375px, 18vw"
            srcset="assets/cutunseen-histories-MfkVwVm1K0w-unsplash-(1).png 500w, assets/cutunseen-histories-MfkVwVm1K0w-unsplash-(1).png 800w, assets/cutunseen-histories-MfkVwVm1K0w-unsplash-(1).png 1080w, assets/cutunseen-histories-MfkVwVm1K0w-unsplash-(1).png 1600w, assets/cutunseen-histories-MfkVwVm1K0w-unsplash-(1).png 2000w, assets/cutunseen-histories-MfkVwVm1K0w-unsplash-(1).png 2831w"
            alt="" class="scattered-image is-4">
        </div>  
      </div>

    
    </main>

  </div>


  <footer>{% include footer.html %}</footer>


</body>

</html>